:root {
  --main-primary: #10495c;
  --main-secondary: #f1ae5f;
  --main-bg: #fdfaf1;

  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --black: #000000;
  --darkGray: #4d4d4d;
  --white: #ffffff;

  --cold: #bbe1fa;
  --winter: #3282b8;
  --blue: #0f4c75;
  --dark: #1b262c;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #000000;
}

.B2M-page {
  overflow-x: hidden;
  background: var(--main-bg);
}

.B2M-page-content {
  align-items: stretch !important;
  display: flex !important;
}

/* Footer */
.b2m-f-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--light);
  color: var(--main-primary);
  text-align: center;
}
/* Footer */
