section.B2M-pagination {
  text-align: center;
  margin-left: 10px;
}
.B2M-pagination ul {
  display: flex;
  justify-content: center;
}
.B2M-pagination ul li {
  background-color: var(--main-secondary);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  list-style-type: none;
  align-self: center;
  font-size: 20px;
  text-decoration: none;
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}
.B2M-pagination ul li:hover {
  background-color: var(--main-primary);
  color: var(--white);
  font-size: 25px;
}
.B2M-pagination ul li.B2M-active {
  background-color: var(--main-primary);
  color: var(--white);
  font-size: 25px;
}
.B2M-pagination ul li.B2M-active:hover {
  text-decoration: none;
}

/* PAGINATION ICON COLOR AND HOVER ----------------------------------- */
.B2M-pagination ul li:nth-child(-n + 2) {
  border-radius: 15px;
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
}
.B2M-pagination ul li:nth-child(1) {
  background-color: var(--darkGray);
}
.B2M-pagination ul li:nth-child(2) {
  background-color: var(--secondary);
}

.B2M-pagination ul li:hover:nth-child(-n + 2) {
  background-color: transparent;
  color: var(--black);
}

.B2M-pagination ul li:nth-last-child(-n + 2) {
  border-radius: 15px;
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
}
.B2M-pagination ul li:nth-last-child(1) {
  background-color: var(--darkGray);
}
.B2M-pagination ul li:nth-last-child(2) {
  background-color: var(--secondary);
}

.B2M-pagination ul li:hover:nth-last-child(-n + 2) {
  background-color: transparent;
  color: var(--black);
}

/* PAGINATION MEDIAQUERIES ----------------------------------- */

@media (max-width: 1700px) {
  .B2M-pagination ul li:nth-child(n + 3):nth-last-child(n + 3) {
    display: none;
  }
  .B2M-pagination  {
    margin-right: 50px;
  }
}
