@import url('../../global.css');

.menu-container{
  background-color: var(--winter);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.30);
}

.logo-nav{
  background-color: var(--winter);
}
.menu-link-text{
  font-size: 18px;
  color: var(--white) !important;
}
.icons-content {
  padding: 1px;
  margin-right: 10px;
  color: var(--white);
}

