@import url("../../global.css");

.conatiner-banner{
  background-image: url("../../assets/img/svg/background-question.svg");
  background-repeat: repeat-y;
  background-size: 100%;
}
.filter-line {
  border-top: 1px solid var(--dark);
}

.filter-conatiner {
  background: var(--light);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
}

.filter-titer {
  color: var(--dark);
  font-size: 20px;
  font-weight: bold;
}
.filter-titer-default {
  color: var(--secondary);
  font-size: 15px;
}

.filter-field {
  width: 100%;
}
.filter-group {
  background: var(--dark);
  color: var(--white);
  border-radius: 5px;
}

.filter-label {
  background: var(--white) !important;
  color: var(--dark) !important;
}

.filter-btn {
  width: 150px;
  color: var(--black) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}

.filter-btn:hover {
  width: 150px;
  color: var(--white) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}


.filter-btn-outline {
  width: 150px;
  color: var(--dablackrk) !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.filter-btn-outline:hover {
  width: 150px;
  color: var(--black) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}

.filter-icon-outline {
  color: var(--black) !important;
}
.filter-icon-outline:hover {
  color: var(--dark) !important;
}
.question-conatiner {
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.32);
}
.question-number{
  font-size: 15px;
  font-weight: bold;

}
.question-titer {
  background-color: var(--cold);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.question-codigo {
  color: var(--white);
  background-color: var(--dark);
  font-size: 15px !important;
}

.question-img{
  width: 18px;
  height: 18px;

}
.question-dicipline:hover{
  font-weight: bold;
}
.question-subject:hover{
text-decoration: underline;
}
.question-info{
  color: var(--dark);
  font-size: 13px !important;
  font-weight: bold;
}
.question-alternative{
  white-space: normal !important;
}
.question-btn {
  width: 200px;
  color: var(--black) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}

.question-btn:hover {
  width: 200px;
  color: var(--white) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}