@import url("../../assets/css/global.css");

.conatiner-banner {
  background-image: url("../../assets/img/svg/background-question.svg");
  background-repeat: repeat-y;
  background-size: 100%;
}



/*COMPONENT FILTER*/
.filter-conatiner {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
.filter{
  margin-left: 75%;
  margin-top: 3%;
}
.filter-card {
  background: var(--light);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.32);
}
.filter-icon {
  border-radius: 15px;
  border: 10px solid var(--cold) !important;
  background: var(--cold) !important;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.32);
}
.filter-titer {
  color: var(--dark);
  font-size: 20px;
  font-weight: bold;
}
.filter-field {
  width: 100%;
}

.filter-icon-outline {
  color: var(--dark) !important;
}
.filter-icon-outline:hover {
  color: var(--black) !important;
}
/*COMPONENT FILTER*/


/*COMPONENT ALTERNATIVA*/
.alternative-conatiner {
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.32);
}
.alternative-number {
  font-size: 15px;
  font-weight: bold;
}
.alternative-titer {
  background-color: var(--cold);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.alternative-codigo {
  color: var(--white);
  background-color: var(--dark);
  font-size: 15px !important;
}

.alternative-img {
  width: 18px;
  height: 18px;
}
.alternative-dicipline:hover {
  font-weight: bold;
}
.alternative-subject:hover {
  text-decoration: underline;
}
.alternative-info {
  color: var(--dark);
  font-size: 13px !important;
  font-weight: bold;
}
.alternative-alternative {
  white-space: normal !important;
}
.alternative-btn {
  width: 200px;
  color: var(--black) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}

.alternative-btn:hover {
  width: 200px;
  color: var(--white) !important;
  background-color: var(--winter) !important;
  border-color: var(--winter) !important;
}

.alternative-icon-outline {
  color: var(--dark) !important;
}
.alternative-icon-outline:hover {
  color: var(--black) !important;
}

.alternative-hit-icon-outline {
  color: var(--success) !important;
}
.alternative-hit-icon-outline:hover {
  color: #006400 !important;
}

.alternative-error-icon-outline {
  color: var(--danger) !important;
}
.alternative-error-icon-outline:hover {
  color: #8B0000 !important;
}


